body {
  background-image: url('/public/app/cgolaGame/images/8797-256x256x32.png');
}
.game{
  margin-top: 26px;
}
.buttons {
  margin-top: 16px;
}
.icon-copyright__link {
  color: black !important;
  font-size: 8px;
  text-decoration: none !important;
}
.icon-copyright__text {
  font-size: 8px;
  padding-top: 36px;
  padding-right: 26px;
}
table tbody tr td.cell {
  border: solid 2px black;
  height: 20px;
  width: 760px;
}
table tbody tr td.cell.alive {
  background: green;
}
